:root {
  --blue: #00acdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.header__logo-image {
  width: 40px;
  height: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list__item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.list__item:first-child {
  margin-left: 0;
}

.nav__link {
  font-size: 12px;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  color: #000;
  position: relative;
}

.is-active,
.nav__link:hover {
  color: var(--blue);
}

.is-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 8px;
  background-color: var(--blue);
}
