:root {
  --blue: #00acdc;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 10px 50px;
}

.header__logo {
  padding: 0;
}

.nav {
  display: flex;
  text-transform: uppercase;
  padding: 0;
}

.lista {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.lista__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  top: auto;
  line-height: 100%;
  display: inline-block;
  position: relative;
  color: #000;
}

.laptops:hover {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
  line-height: 100%;
}

.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 37px;
  height: 4px;
  margin-bottom: -20px;
  border-radius: 8px;
  background-color: var(--blue);
}

a[data-qa='hover']:hover {
  color: var(--blue);
  line-height: 100%;
}
